Repository microsoft/mscclpp: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

Path conditions:
  .azure-pipelines/integration-test.yml: any file but: .devcontainer, .github, docker, docs, **/*.md
  .azure-pipelines/nccl-api-test.yaml: any file but: .devcontainer, .github, docker, docs, **/*.md
  .azure-pipelines/no-ib-env-test.yml: any file but: .devcontainer, .github, docker, docs, **/*.md
  .azure-pipelines/ut.yml: any file but: .devcontainer, .github, apps, docker, docs, **/*.md

add pybind11
  python/requirements_cuda11.txt
  python/requirements_cuda12.txt
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

lint
  include/mscclpp/algorithm.hpp
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

fix ut
  apps/nccl/src/nccl.cu
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml

force allreduce11 for non-zero copy on gb200
  apps/nccl/src/allreduce.cu
  apps/nccl/src/allreduce.hpp
  apps/nccl/src/common.hpp
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml

improved zero-copy allreduce with nvls
  apps/nccl/src/allreduce.cu
  apps/nccl/src/allreduce.hpp
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml

clean up the code
  apps/nccl/src/allreduce.cu
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml

Add an IB multi-node tutorial
  docs/tutorials/04-port-channel.md
  examples/tutorials/04-port-channel/bidir_port_channel.cu
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

Add an IB multi-node tutorial (#702)
  docs/tutorials/04-port-channel.md
  examples/tutorials/04-port-channel/bidir_port_channel.cu
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

Make IB more configurable
  include/mscclpp/core.hpp
  include/mscclpp/env.hpp
  python/csrc/core_py.cpp
  python/test/_cpp/proxy_test.cpp
  src/endpoint.cc
  src/env.cpp
  src/ib.cc
  src/ibverbs_wrapper.cc
  src/include/ib.hpp
  test/mp_unit/ib_tests.cu
  test/mp_unit/mp_unit_tests.cc
  test/mp_unit/mp_unit_tests.hpp
  test/mp_unit/port_channel_tests.cu
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

Fix docs
  docs/tutorials/04-port-channel.md
Due: none

Add GpuIpcMem class
  include/mscclpp/gpu.hpp
  src/gpu_ipc_mem.cc
  src/gpu_utils.cc
  src/include/gpu_ipc_mem.hpp
  src/include/logger.hpp
  src/include/registered_memory.hpp
  src/registered_memory.cc
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

fix ci
  python/mscclpp/utils.py
  python/test/conftest.py
  python/test/mscclpp_mpi.py
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

address comment
  python/test/conftest.py
  src/include/registered_memory.hpp
  src/registered_memory.cc
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

update
  test/mp_unit/executor_tests.cc
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

update for log
  src/include/logger.hpp
  src/registered_memory.cc
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

wip
  docs/dsl.rst
  docs/index.rst
  docs/programming_guide.rst
Due: none

Creating Documentation Section for MSCCL++ DSL (#706)
  docs/dsl.rst
  docs/index.rst
  docs/programming_guide.rst
Due: none

error handling
  src/ibverbs_wrapper.cc
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

wip
  docs/dsl.rst
  docs/dsl/concepts.md
  docs/dsl/figs/2node_all_reduce_results.png
  docs/dsl/figs/single_node_allreduce_results_1K_to_1M.png
  docs/dsl/figs/single_node_allreduce_results_1M_to_1G.png
  docs/dsl/integration.md
  docs/dsl/quick_start.md
  docs/dsl/results.md
Due: none

revert
  test/mp_unit/executor_tests.cc
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

update
  src/gpu_ipc_mem.cc
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

wip
  python/mscclpp/language/internal/op_dep_graph.py
  python/mscclpp/language/internal/operations.py
  python/mscclpp/language/internal/types.py
  python/mscclpp/language/rank.py
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

update
  src/include/logger.hpp
  src/logger.cc
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

add some checkings, fix indentation, and add some explanations
  apps/nccl/src/allreduce.cu
  apps/nccl/src/allreduce.hpp
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml

comply with clang format
  apps/nccl/src/allreduce.cu
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml

Remove UB `std::` declarations
  include/mscclpp/algorithm.hpp
  include/mscclpp/core.hpp
  include/mscclpp/utils.hpp
  python/csrc/core_py.cpp
  src/context.cc
  src/core.cc
  src/executor/executor.cc
  src/include/execution_plan.hpp
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

check cuda api ret value with MSCCLPP_CUDATHROW
  apps/nccl/src/allreduce.cu
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml

Add NCCL directory to CodeQL analysis paths
  .github/workflows/codeql-analysis.yml
Due: none

Update python/test/conftest.py
  python/test/conftest.py
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

address comments
  python/test/conftest.py
  python/test/mscclpp_mpi.py
  src/include/logger.hpp
  src/registered_memory.cc
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

fix for ut
  python/mscclpp/__init__.py
  python/test/test_mscclpp.py
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

Make IB more configurable (#703)
  docs/tutorials/04-port-channel.md
  include/mscclpp/core.hpp
  include/mscclpp/env.hpp
  python/csrc/core_py.cpp
  python/test/_cpp/proxy_test.cpp
  src/endpoint.cc
  src/env.cpp
  src/ib.cc
  src/ibverbs_wrapper.cc
  src/include/ib.hpp
  test/mp_unit/ib_tests.cu
  test/mp_unit/mp_unit_tests.cc
  test/mp_unit/mp_unit_tests.hpp
  test/mp_unit/port_channel_tests.cu
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

update
  .github/copilot-instructions.md
Due: none

fix bug
  apps/nccl/include/mscclpp/nccl.h
  examples/torch-integration/customized_comm_with_default_algo.py
  examples/torch-integration/customized_comm_with_dsl.py
  python/csrc/CMakeLists.txt
  python/csrc/core_py.cpp
  python/mscclpp/_algorithm.py
  python/mscclpp/_compiler.py
  python/mscclpp/comm.py
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

fix for rocm
  include/mscclpp/core.hpp
  python/mscclpp/_compiler.py
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

wip
  python/mscclpp/language/channel.py
  python/mscclpp/language/internal/buffer_access.py
  python/mscclpp/language/internal/op_dep_graph.py
  python/mscclpp/language/internal/operations.py
  python/mscclpp/language/internal/register.py
  python/mscclpp/language/internal/types.py
  python/mscclpp/language/loop.py
  python/mscclpp/language/program.py
  python/mscclpp/language/rank.py
  python/mscclpp/language/thread_block_group.py
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

Improve DSL Documentation (#707)
  docs/dsl.rst
  docs/dsl/concepts.md
  docs/dsl/figs/2node_all_reduce_results.png
  docs/dsl/figs/single_node_allreduce_results_1K_to_1M.png
  docs/dsl/figs/single_node_allreduce_results_1M_to_1G.png
  docs/dsl/integration.md
  docs/dsl/quick_start.md
  docs/dsl/results.md
Due: none

minor update
  .github/copilot-instructions.md
Due: none

Add handle cache for AMD platform (#698)
  python/mscclpp/utils.py
  python/test/conftest.py
  python/test/mscclpp_mpi.py
  src/include/logger.hpp
  src/include/registered_memory.hpp
  src/registered_memory.cc
  test/mp_unit/executor_tests.cc
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

update for rocm
  examples/torch-integration/customized_allgather.py
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml
