Repository microsoft/mscclpp: changes, and which Azure pipelines are due for each by the changed paths.
All: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

.azure-pipelines/integration-test.yml:
  jobs:
  - job: IntegrationTestA100
    displayName: Integration test A100
    strategy:
      matrix:
        cuda11:
          containerImage: ghcr.io/microsoft/mscclpp/mscclpp:base-dev-cuda11.8
        cuda12:
          containerImage: ghcr.io/microsoft/mscclpp/mscclpp:base-dev-cuda12.4
    pool:
  ...

.azure-pipelines/nccl-api-test.yaml:
  jobs:
  - job: NcclTestA100
    displayName: Run MSCCLPP over NCCL Test (A100)
    pool:
      name: msccl-ci
    strategy:
      matrix:
        cuda11:
          containerImage: ghcr.io/microsoft/mscclpp/mscclpp:base-dev-cuda11.8
        cuda12:
  ...

.azure-pipelines/no-ib-env-test.yml:
  jobs:
  - job: TestNoIBEnv
    displayName: Test No IB Environment
    strategy:
      matrix:
        cuda12.4:
          containerImage: ghcr.io/microsoft/mscclpp/mscclpp:base-dev-cuda12.4
    pool:
      name: mscclpp-no-ib-env
    container:
      image: $[ variables['containerImage'] ]
  ...

.azure-pipelines/ut.yml:
  jobs:
  - job: UnitTestA100
    timeoutInMinutes: 40
    pool:
      name: msccl-ci
    strategy:
      matrix:
        cuda11:
          containerImage: ghcr.io/microsoft/mscclpp/mscclpp:base-dev-cuda11.8
        cuda12:
          containerImage: ghcr.io/microsoft/mscclpp/mscclpp:base-dev-cuda12.4
    container:
  ...

Add multiversion support for document
  _templates/versioning.html
  docs/conf.py
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

update
  .azure-pipelines/templates/nccl-test.yaml
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

revert
  .azure-pipelines/templates/nccl-test.yaml
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

more fix
  src/gpu_ipc_mem.cc
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

Update container images for pipeline (#717)
  .azure-pipelines/integration-test.yml
  .azure-pipelines/multi-nodes-test.yml
  .azure-pipelines/nccl-api-test.yaml
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

Use `GpuIpcMem` for NVLS connections
  include/mscclpp/switch_channel.hpp
  python/csrc/switch_channel_py.cpp
  src/switch_channel.cc
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

WIP
  .azure-pipelines/templates/ut.yaml
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

tackle comments
  src/switch_channel.cc
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

Add version selector for all versions in the document webpage
  _templates/layout.html
  _templates/versioning.html
  docs/_static/version-selector.js
  docs/conf.py
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

Place the selector above the search bar; Automatically update the index.html during he sphinx-multiversion
  docs/_static/version-selector.js
  docs/conf.py
Due: none

Add main branch in the selector
  docs/_static/version-selector.js
  docs/conf.py
Due: none

new algo
  apps/nccl/src/nccl.cu
  src/algorithms/allreduce/allreduce_rsag_pipeline.cu
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

fix
  src/algorithms/allreduce/allreduce_rsag_pipeline.cu
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

WIP
  src/algorithms/allreduce/allreduce_rsag_pipeline.cu
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

Fix the issue of switching to main(dev) in the selector
  docs/_static/version-selector.js
  docs/conf.py
Due: none

WIP
  apps/nccl/src/nccl.cu
  src/algorithms/allreduce/allreduce_rsag_pipeline.cu
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

Add CUDA 13.0 Dockerfile
  docker/base-dev-x.dockerfile
  docker/base-x-rocm.dockerfile
  docker/base-x.dockerfile
  docker/build.sh
  python/requirements_cuda13.txt
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

update
  docker/build.sh
Due: none

update
  apps/nccl/src/nccl.cu
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml

Add CUDA 13.0 Docker images (#720)
  docker/base-dev-x.dockerfile
  docker/base-x-rocm.dockerfile
  docker/base-x.dockerfile
  docker/build.sh
  python/requirements_cuda13.txt
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

Solve the issue of relative path and nonexistent path
  docs/_static/version-selector.js
Due: none

Move the hash capture to the change event handler
  docs/_static/version-selector.js
Due: none

WIP
  docs/conf.py
  python/mscclpp_benchmark/__init__.py
  python/mscclpp_benchmark/mscclpp_op.py
  python/mscclpp_benchmark/nccl_op.py
  src/algorithms/allgather/allgather_fullmesh.cu
  src/algorithms/allgather/allgather_fullmesh2.cu
  src/algorithms/allreduce/allreduce_nvls.cu
  src/algorithms/allreduce/allreduce_nvls_packet.cu
  src/algorithms/allreduce/allreduce_nvls_with_copy.cu
  src/algorithms/allreduce/allreduce_nvls_with_copy2.cu
  src/algorithms/allreduce/allreduce_packet.cu
  src/algorithms/utils.cc
  src/include/algorithms/allgather/allgather_fullmesh.hpp
  src/include/algorithms/allgather/allgather_fullmesh2.hpp
  src/include/algorithms/allreduce/allreduce_fullmesh.hpp
  src/include/algorithms/allreduce/allreduce_nvls.hpp
  src/include/algorithms/allreduce/allreduce_nvls_with_copy.hpp
  src/include/algorithms/allreduce/allreduce_nvls_with_copy2.hpp
  src/include/algorithms/utils.hpp
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

fix
  python/csrc/core_py.cpp
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

update
  include/mscclpp/algorithm.hpp
  include/mscclpp/ext/collectives/collectives.hpp
  src/core/algorithm.cc
  src/ext/collectives/CMakeLists.txt
  src/ext/collectives/allgather/allgather_fullmesh.cu
  src/ext/collectives/allgather/allgather_fullmesh2.cu
  src/ext/collectives/allreduce/allreduce_allpair_packet.cu
  src/ext/collectives/allreduce/allreduce_fullmesh.cu
  src/ext/collectives/allreduce/allreduce_nvls.cu
  src/ext/collectives/allreduce/allreduce_nvls_packet.cu
  src/ext/collectives/allreduce/allreduce_nvls_with_copy.cu
  src/ext/collectives/allreduce/allreduce_nvls_with_copy2.cu
  src/ext/collectives/allreduce/allreduce_packet.cu
  src/ext/collectives/collective_utils.cc
  src/ext/collectives/collectives.cc
  src/ext/collectives/include/allgather/allgather_fullmesh.hpp
  src/ext/collectives/include/allgather/allgather_fullmesh2.hpp
  src/ext/collectives/include/allreduce/allreduce_allpair_packet.hpp
  src/ext/collectives/include/allreduce/allreduce_fullmesh.hpp
  src/ext/collectives/include/allreduce/allreduce_nvls.hpp
  src/ext/collectives/include/allreduce/allreduce_nvls_packet.hpp
  src/ext/collectives/include/allreduce/allreduce_nvls_with_copy.hpp
  src/ext/collectives/include/allreduce/allreduce_nvls_with_copy2.hpp
  src/ext/collectives/include/allreduce/allreduce_packet.hpp
  src/ext/collectives/include/allreduce/common.hpp
  src/ext/collectives/include/collective_utils.hpp
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

Bypassing SSCA alerts
  docker/base-dev-x.dockerfile
  docker/base-x-rocm.dockerfile
  docker/base-x.dockerfile
Due: none

fix
  include/mscclpp/ext/collectives/default_algorithm_builder.hpp
  src/ext/collectives/default_algorithm_builder.cc
  src/ext/collectives/include/allreduce/common.hpp
  src/ext/nccl/nccl.cu
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

WIP
  include/mscclpp/algorithm.hpp
  include/mscclpp/ext/collectives/algorithm_builder.hpp
  include/mscclpp/ext/collectives/default_algorithm_builder.hpp
  python/CMakeLists.txt
  src/core/algorithm.cc
  src/ext/collectives/algorithm_builder.cc
  src/ext/nccl/nccl.cu
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

make nccl-test run
  src/ext/nccl/CMakeLists.txt
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

update
  python/csrc/algorithm.cpp
  python/csrc/core_py.cpp
  python/csrc/ext/collective.cpp
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

Bypassing SSCA alerts (#721)
  docker/base-dev-x.dockerfile
  docker/base-x-rocm.dockerfile
  docker/base-x.dockerfile
Due: none

minor updates
  src/gpu_ipc_mem.cc
  src/ib.cc
  src/switch_channel.cc
  src/unix_socket.cc
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

fix `close(0)` issue
  src/switch_channel.cc
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

Add ut test to track input size alignment
  .azure-pipelines/templates/ut-size-alignment.yaml
  .azure-pipelines/ut-size-alignment.yaml
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

Add `GpuIpcMemHandle` (#704)
  include/mscclpp/gpu.hpp
  src/gpu_ipc_mem.cc
  src/gpu_utils.cc
  src/ib.cc
  src/include/gpu_ipc_mem.hpp
  src/include/registered_memory.hpp
  src/registered_memory.cc
  src/switch_channel.cc
  src/unix_socket.cc
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

WIP
  include/mscclpp/ext/collectives/algorithm_builder.hpp
  python/csrc/CMakeLists.txt
  python/csrc/core_py.cpp
  python/mscclpp/__init__.py
  python/mscclpp/_core/__init__.py
  python/mscclpp/_core/algorithm.py
  python/mscclpp/_core/buffer.py
  python/mscclpp/_core/comm.py
  python/mscclpp/_core/compiler.py
  python/mscclpp/ext/algorithem_builder.py
  python/mscclpp/utils.py
  src/ext/collectives/algorithm_builder.cc
Due: .azure-pipelines/integration-test.yml, .azure-pipelines/nccl-api-test.yaml, .azure-pipelines/no-ib-env-test.yml, .azure-pipelines/ut.yml

Path conditions:
  .azure-pipelines/integration-test.yml: any file but: .devcontainer, .github, docker, docs, **/*.md
  .azure-pipelines/nccl-api-test.yaml: any file but: .devcontainer, .github, docker, docs, **/*.md
  .azure-pipelines/no-ib-env-test.yml: any file but: .devcontainer, .github, docker, docs, **/*.md
  .azure-pipelines/ut.yml: any file but: .devcontainer, .github, apps, docker, docs, **/*.md
